@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-color: black;
    --background-color: rgb(242, 242, 242);
    --background-color-sd: white;
    --font-family: 'Nunito';
}

[data-theme='dark'] {
    --font-color: white;
    --background-color-sd: rgb(51 65 85);
    --background-color: rgb(43, 56, 68);
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
}

input {
    background-color: var(--background-color);
}

header {
    background-color: var(--background-color-sd);
}

.dropdown, .region-button, .region-select, .search-bar, input, .region {
    background-color: var(--background-color-sd);
}

.arrow-init {
    transform: rotate(0deg);
}

.arrow-down {
    transform: rotate(90deg);
}

.arrow-init, .arrow-down {
    transition: all .2s ease;

}

.item-region:hover {
    cursor: pointer;
}